:root {
  --progressBar: #54d1db;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}

.flex {
  display: flex !important;
}
.flex-col {
  flex-direction: column !important;
}

.items-center {
  align-items: center;
}

.spanLikesList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mySpinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refreshIcon {
  text-align: center;
}

.menuCol {
  min-height: 100vh;
  position: relative !important;
}

.menuCol.searchCol {
  padding: 0 !important;
}

.stickyCol .ui.icon.input,
.stickyCol .results.transition {
  width: 99% !important;
}

.stickyCol {
  position: sticky;
  top: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.menuRow {
  width: 100%;
  margin-bottom: 5px;
  align-items: center !important;
  gap: 7px;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.menuRow.active,
.menuRow:hover {
  background-color: whitesmoke;
  color: black;
}

.menuIconBadge {
  position: absolute;
  top: -3px;
  right: -15px;
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 99999px;
}

.menuIconBadge.mobile {
  top: -5px;
  right: -0.5px;
}

.cardDescription {
  margin-top: 1rem;
  font-size: 17px;
  letter-spacing: 0.1px;
  word-spacing: 0.35px;
}
